; =====================================================
; ================  PROMOD ELEV TANK  =================
; =====================================================
//modify:
//{
//	match:
//	{
//		"targetname" "button_elev_3rdfloor"
//	}
//	insert:
//	{
//		"OnPressed" "promod_tankSpawnZombie29-1"
//	}
//}
//add:
//{
//	"targetname" "promod_tank"
//	"origin" "-2141 -4836 545"
//	"population" "tank"
//	"offer_tank" "1"
//	"angles" "0 0 0"
//	"classname" "info_zombie_spawn"
//}
//; It is very important to leave the timer at 29 seconds. This spawns tank before the finale officially starts, freezing the finale.
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block finale gas cans from being knocked into unreachable places (1st floor)
{
    ; invisible block above construction section
    "origin" "-2576 -4352 228"
    "mins" "-208 -128 -36"
    "boxmins" "-208 -128 -36"
    "maxs" "208 128 36"
    "boxmaxs" "208 128 36"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above georgia pork barrel
    "origin" "-3680 -4436 196"
    "mins" "-320 -44 -36"
    "boxmins" "-320 -44 -36"
    "maxs" "320 44 36"
    "boxmaxs" "320 44 36"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above taco bucket
    "origin" "-4256 -4464 196"
    "mins" "-176 -16 -36"
    "boxmins" "-176 -16 -36"
    "maxs" "176 16 36"
    "boxmaxs" "176 16 36"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above wok on the wild side
    "origin" "-4832 -4444 196"
    "mins" "-320 -36 -36"
    "boxmins" "-320 -36 -36"
    "maxs" "320 36 36"
    "boxmaxs" "320 36 36"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above unmarked store
    "origin" "-5536 -3312 196"
    "mins" "-320 -48 -36"
    "boxmins" "-320 -48 -36"
    "maxs" "320 48 36"
    "boxmaxs" "320 48 36"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above potato safari
    "origin" "-3344 -3280 196"
    "mins" "-160 -16 -36"
    "boxmins" "-160 -16 -36"
    "maxs" "160 16 36"
    "boxmaxs" "160 16 36"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above beef boy stew
    "origin" "-2736 -3280 196"
    "mins" "-176 -16 -36"
    "boxmins" "-176 -16 -36"
    "maxs" "176 16 36"
    "boxmaxs" "176 16 36"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
; --- block finale gas cans from being knocked into unreachable places (2nd floor)
{
    ; invisible block above construction section
    "origin" "-2464 -3872 478"
    "mins" "-96 -320 -10"
    "boxmins" "-96 -320 -10"
    "maxs" "96 320 10"
    "boxmaxs" "96 320 10"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above construction section
    "origin" "-2644 -4340 478"
    "mins" "-276 -148 -10"
    "boxmins" "-276 -148 -10"
    "maxs" "276 148 10"
    "boxmaxs" "276 148 10"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above ladyshoes
    "origin" "-4992 -4472 464"
    "mins" "-176 -8 -24"
    "boxmins" "-176 -8 -24"
    "maxs" "176 8 24"
    "boxmaxs" "176 8 24"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above corner wall
    "origin" "-6308 -3388 480"
    "mins" "-124 -124 -8"
    "boxmins" "-124 -124 -8"
    "maxs" "124 124 8"
    "boxmaxs" "124 124 8"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above unmarked store
    "origin" "-6012 -3300 464"
    "mins" "-172 -36 -24"
    "boxmins" "-172 -36 -24"
    "maxs" "172 36 24"
    "boxmaxs" "172 36 24"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above unmarked store
    "origin" "-5419 -3316 384"
    "mins" "-235 -52 -104"
    "boxmins" "-235 -52 -104"
    "maxs" "235 52 104"
    "boxmaxs" "235 52 104"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above unmarked store
    "origin" "-3372 -3312 472"
    "mins" "-300 -48 -16"
    "boxmins" "-300 -48 -16"
    "maxs" "300 48 16"
    "boxmaxs" "300 48 16"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
; --- block finale gas cans from being knocked into unreachable places (3rd floor)
{
    ; invisible block above guardian sports source
    "origin" "-3648 -4440 744"
    "mins" "-332 -40 -48"
    "boxmins" "-332 -40 -48"
    "maxs" "332 40 48"
    "boxmaxs" "332 40 48"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above fauntleroy's
    "origin" "-4179 -4438 721"
    "mins" "-176 -42 -24"
    "boxmins" "-176 -42 -24"
    "maxs" "176 42 24"
    "boxmaxs" "176 42 24"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above mega blowout store
    "origin" "-4835 -4464 721"
    "mins" "-320 -16 -24"
    "boxmins" "-320 -16 -24"
    "maxs" "320 16 24"
    "boxmaxs" "320 16 24"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
{
	; invisible block above corner wall
	"origin" "-6252 -3376 736"
	"mins" "-180 -112 -8"
	"boxmins" "-180 -112 -8"
	"maxs" "180 112 8"
	"boxmaxs" "180 112 8"
	"initialstate" "1"
	"BlockType" "4"
	"classname" "env_physics_blocker"
}
//{
//	"origin" "-4838.422363 -2657.371582 536.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-5420.272949 -4459.873047 536.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-4016.149414 -4193.464355 536.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-4847.968750 -2706.007080 280.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-6147.478516 -3394.208008 0.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-4057.915771 -2328.531494 0.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-2541.532715 -3281.816162 0.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-2811.795898 -4459.090332 0.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-5432.631348 -4438.200684 0.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-5427.344238 -4452.694824 280.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-5190.197266 -3288.306641 0.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-3900.430908 -3402.156494 280.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}
//{
//	"origin" "-2429.156494 -4156.263672 0.031250"
//	"targetname" "gascans_scavenge"
//	"spawnflags" "2"
//	"solid" "0"
//	"skin" "0"
//	"model" "models/props_junk/gascan001a.mdl"
//	"glowstate" "0"
//	"disableshadows" "1"
//	"body" "0"
//	"angles" "0 0 0"
//	"classname" "weapon_scavenge_item_spawn"
//	"OnItemPickedUp" "@directorrunscriptcodeDirectorScript.MapScript.LocalScript.GasCanTouched()0-1"
//}

